/*

selectors used in examples.html (April 4, 2015):

Tags: div, span

IDs: #body-container
        #top
           #top-details
              #user-name
                 #user-address-1
                 #user-address-2
                 #user-address-3
                 #user-address-4
        #middle
        	#objective
        	#job-opportunities
        	#work-experience

Classes: .section
			.section-head
				.section-contents
					.section-item
						.section-item-headline
							.company-name, .job-title, .location, .date
						.section-item-body
*/

/* 

fonts

*/

.section-head, .company-name {
	font-weight: bold;
}

.location {
	font-style: oblique;
}


/* 

relative sizes for text 

*/

#user-name {
	font-size: 2em;
}
#user-address-1, #user-address-2, #user-address-3 {
	font-size: 1.25em;
}

.section-head {
	font-size: 1.4em;
}

.section-item-headline {
	font-size: 1.1em;
}

/* 

	giving the whole thing some margins

*/

#body-container {
	margin-left: 6%;
	margin-right: 4%;
}

/* 

	positioning the top 

*/

#top {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-right: 70px;
}

#user-name, #user-address-1, #user-address-2, #user-address-3, #user-address-4 {
	display: block;
	margin-top: 6px;
}



/* 

	line spacing

*/

#middle .section {
	margin: 20px 0 30px 0;
}

#middle .section-head {
	margin: 2px 0 5px 0;
}

#middle .section-item {
	margin: 4px 0 4px 0;
}

#middle .section-item-headline {
	margin-bottom: 3px;
}

/*

spacing in the headlines

*/


.job-title {
	padding-right: 20px;
}

.company-name {
	margin-right: 20px;
}

.no-name {
	margin: 0px;
}

.location {
	padding-right: 10px;
}



