@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:700);


/*html, body {
  min-height: 100%;
}*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  text-align: left;
  background: #B8860B;
}

#rounded {
  background: white;
  border-radius: 40px;
  border: 20px solid lightgrey;
  padding: 40px;
  margin: 25px;
  box-shadow: 5px 5px 30px #000000;
}

body.modal-open {
  overflow: hidden;
}

.objectives-header {
  margin-bottom: 10px;
}

.job-ops-header {
  margin-bottom: 10px;
}

.section-head, #user-info-header {
  font-family: Arvo;
}


/*****************/
   /*COLLECTION VIEW*/
/*****************/

#main {
  margin-left: 30px;
}

.job-ops-header {
  margin-bottom: 10px;
}

.experience-text {
  margin-left: 30px;
  margin-top: 10px;
  text-align: left;
  font-style: italic;
}

.show-me-jobs {
  box-shadow: 5px 5px 2px #888888;
  border-radius: 25px;
  border: none;
  background-color: white;
  font-size: 2.0vw;
  color: black;
  height: 30px;
  width: 91%;
  position: center;
  /*margin-left: 29%;*/
}

button[type=sub] {
  box-shadow: 5px 5px 2px #888888;
  border-radius: 25px;
  border: none;
  background-color: white;
  font-size: 1.5vw;
  color: black;
  height: 25px;
  width: 30%;
  position: center;
  /*margin-left: 10%;*/

}

.show-me-jobs:hover {
  color: white;
  background-color: maroon;
}

button[type=sub]:hover {
  color: white;
  background-color: maroon;
}

ul {
  background: whitesmoke;
  color: black;
  opacity: .8;
  width: 98%;
  height: 60px;
  border-radius: 12px;
  margin-left: 10px;
  font-size: 1.5vw;
  cursor: pointer;
}

ul:hover {
  opacity: 1.0;
  color: white;
  background: darkred;
  height: 60px;
  font-weight: 900;
  font-size: 1.6vw;
  line-height: 30px;
  box-shadow: 5px 5px 2px #888888;
}

.preview li::after{

}

.preview li:first-child {
  left: 0;
}

.preview li:last-child {
  float: right;
  padding-right: 20px;
}

.preview li{
  margin-left: 2%;
  margin-top: 15px;
  list-style-type: none;
  display: inline-block;
}

.objectives-body {
  margin-left: 30px;
  text-align: left;
}


/*****************/
   /*USER INFO*/
/*****************/

p {
  margin-top: -1px;
  margin-bottom: -1px;
  display: block;
  padding: 4px;
  text-align: center;
}

#user-info-header {
  text-align: center;
  margin-bottom: 50px;
}

#user-name-heading {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-right: 70px;
}

#user-name {
  font-size: 2em;
}

#user-address-1, #user-address-2 {
  font-size: 1.25em;
}

#user-address-3 {
  font-size: .8em;
}

#user-name, #user-address-1, #user-address-2, #user-address-3, #user-address-4 {
  display: block;
  margin-top: 2px;
}

#user-email {
  padding-left: 5px;
}

#user-modal {
  height: 65%;
  width: 60%;
  background-image: url('http://giphy.com/gifs/rose-wine-PO673oHKZKUjC');
  /*http://www.nuthinbutagifthang.com/wp-content/uploads/2013/06/Rick-Ross-Throwing-Money.gif*/
  background-position:50% 50%;
  background-size:cover;
  opacity: 0.88;
  color: white;
  overflow-y: auto;
  padding: 5px;
  margin-left: 10%;
}

.welcome {
  font-family: 'Ubuntu Mono';
  color: white;
  font-weight: bolder;
  font-size: 25px;
  /*margin-bottom: 10px;*/
  margin-top: 5px;
  background: black;
  opacity: .90;
}

#user-form {
  margin-top: 100px;
  padding: 10px;
  color: white;
  font-weight: 900;
  font-size: 20px;
}

.name {
  font-weight: 900;
  display: inline;
  text-align: center;
  opacity: .85;
  background: black;
  width: 80px;
  color: white;
}

#user-name-form {
  z-index: 5000;
  height: 30px;
  width: 180px;
  margin-left: 6px;
  font-size: 15px;
}


.submit-button {
  font-size: 16px;
  height: 30px;
  width: 50%;
  border-radius: 25px;
  border: none;
  background-color: black;
  color: white;
  margin-left: 10px;
}

.submit-button:hover {
  color: darkred;
  font-weight: 900;
}

/*****************/
   /*MODALS*/
/*****************/

span {
  padding: 2px;
  line-spacing: 3px;
}

input[type=text] {
  width: 200px;
  text-align: center;
}

button {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}

.modal {
  position: fixed;
	display: none;
	color: white;
	background: rgba(0, 0, 0, 0.8);
  left: 10%;
  top: 50px;
  width: 75%;
  height: 75%;
  text-align: center;
  z-index: 1000;
  border-radius: 30px;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
}

a {
  font-size: 15px;
}

a:link {
  color: forestgreen;
}

a:visited {
  color: goldenrod;
}

#description {
  font-size: 18px;
}

.close {
  position: absolute;
  top: 5%;
  left: 5%;
  color: darkred;
  font-weight: bolder;
  font-size: 20px;
}

.back {
  color: darkred;
  font-size: 20px;
  font-weight: bold;
}
