html, body {
  min-height: 100%;
}

body {
  position: relative;
}

body.modal-open {
    overflow: hidden;
}


#show-modal {
  position: fixed;
	display: none;
	color: white;
	background: rgba(0, 0, 0, 0.8);
  left: 10%;
  top: 0px;
  width: 75%;
  height: 80%;
  text-align: center;
  z-index: 1000;
  border-radius: 30px;
  overflow-y: scroll;
  margin-top: 10%;
  /*max-height:90%;*/
}
